/* nav,
header,
main,
footer{
    border: 1px solid red;
} */
body{
    margin: 0;
    background-color: var(--feldgrau);
}

nav {
    background-color: var(--feldgrau);
}

header {
    
}

article {
    padding-top: 20px;
}

footer {
    background-color: var(--feldgrau);
}

button {
 background-color: var(--feldgrau);
 border: .5px solid blacl;
 border-radius: 25%;
 color: white;
 padding: 10px 20px;
 text-align: center;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}

a {
    text-decoration: none;
}

.about-section {
    background-color: var(--nickel);
}

p{
    color: var(--text-color);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,
h2,
h3{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Shadows Into Light", serif;
    color: black;
}

h3 {
    font-size: 1.4em;
}
