
body{
    margin: 0;
    background-color: var(--snow);
}

footer {
    background-color: var(--snow);
}

button {
 background-color: var(--snow);
 border: .5px solid blacl;
 border-radius: 25%;
 color: white;
 padding: 10px 20px;
 text-align: center;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}

a {
    text-decoration: none;
}

.about-section {
    background-color: var(--dogbrown);
}

.about-section h2 {
    margin-bottom: 10px;
}

p {
    color: var(--text-color);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,
h2,
h3 {
    font-family: "Shadows Into Light", serif;
    color: black;
}

h3 {
    font-size: 1.4em;
}
