@import "sub.css";
@import "elements.css";
@import "grid.css";
/* @import url("//fonts.googleapis.com/css?family=Open+Sans");
@import url("//fonts.googleapis.com/css?family=Shadows+Into+Light"); */

@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Shadows+Into+Light");

:root {
    --text-color: #262e2b;
    --dogbrown: #827c74;
    --snow: #8694a3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 5px;
}

.nav-links li {
    padding-left: 10vw;
    font-size: 5vw;
}

.nav-icon {
    height: 4.5em;
    width: auto;
    padding-top: 10px;
}

.blog-heading {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 90vw;
    margin: 25px;
    text-align: center;
}

.header-image {
    height: auto;
    max-width: 100%;
}

.blog-articles,
.about-section {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px;
}

.blog-card {
    background-color: var(--dogbrown);
    border-radius: 20px;
    box-shadow: 0px 0px 9px 4px rgb(0 0 0 / 58%);
    width: 280px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.blog-card:hover {
    transform: scale(1.02);
}

.blog-img {
    width: 280px;
    height: 200px;
}

.blog-img img {
    border-radius: 20px 20px 0px 0px;
}

.about-content {
    margin-bottom: 25px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.about-img img {
    border-radius: 25%;
    width: 100%;
}

.about-section {
    background-color: var(--dogbrown);
}

.about-section h2 {
    margin-bottom: 10px;
}

.about-img {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.about-info {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.blog-info {
    height: auto;
    width: 260px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-info h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.blog-info p {
    font-size: .9em;
}

.blog-author {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.blog-author img {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 1em;
}

.blog-author p span {
    font-size: 60%;
}

.follow-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    padding-bottom: 30px;
}

.follow-socials {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 50px;
    margin-bottom: 15px;

}

.follow-socials img {
    margin-right: 20px;
    width: 50px;
}

@media (min-width: 600px) {
    .about-content {
        display: flex;
        justify-content: space-between;
    }

    .about-img {
        width: 38%;
    }

    .about-info {
        width: 58%;
    }

    .blog-card {
        display: flex;
        flex-direction: row;
        width: 560px;
    }

    .header-quote {
        visibility: visible;
    }

    .blog-img img {
        border-radius: 20px 0px 0px 20px;
    }

    .nav-links {
        flex-direction: row;
        padding-right: 20px;
    }

    .header-container h1 {
        position: absolute;
        font-size: 3em;
        top: -1px;
    }
}

@media (min-width: 900px) {
    .nav-links li {
        font-size: 45px;
    }

    .blog-articles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(575px, 1fr));
    }

    .header-area {
        height: 85vh;
    }

    .header-image {
        height: 80vh;
        max-width: 100%;
    }

    .header-logo img {
        width: 8.1em;
        height: auto;
    }

    .header-logo h1 {
        font-size: 3.2em;
    }

    #blogpost-nav {
        height: 9em;
    }
}
