@import "layout.css";
@import "elements.css";
@import "typo.css";

/* .nav-link{
    padding: 30px
} */

.nav-icon {
    height: 4em;
    width: auto;
}

.header-image{
    height:auto;
    max-width: 100%;
}

.heading {
    position: absolute;
    top: -10px;
    left: 10px;
}

p.cite{
    font-size: 2em;
}
