@import "blogpost.css";
@import "elements.css";
@import "typo.css";

/* .nav-link{
    padding: 30px
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #262e2b;
    --cultured: #fafafaff;
    --rich-black-fogra-39: #0d0f13ff;
    --nickel: #736d60ff;
    --feldgrau: #5c6f68ff;
}

body{
    font-size: 16px;
}

nav,
footer {
    display: flex;
    justify-content: space-between;
    padding :2vw;
}

main{
    background-color: var(--nickel);
}

.nav-logo img{
    height: 4.5em;
    width: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    font-size: 2em;
    text-decoration: none;
    list-style-type: none;
    margin-right: 10px;
}

.nav-links li {
    padding-left: 30px;
    padding-top: 25px;
}

.nav-links li a:hover{
    background-color: var(--nickel);
}

.nav-icon {
    height: 4.5em;
    width: auto;
    padding-top: 10px;
}

.header-container{
    position: relative;
    padding-bottom: 30px;
}

.header-container h1{
    position: absolute;
    top: -8px;
    left: 8px;
}

.header-image{
    height:auto;
    max-width: 100%;
}

.header-container p{
    text-align: center;
    font-size: 0.8em;
    color: var(--baby-blue-eyes)
}

.blog-section,
.about-section {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px;
}

.blog-card {
    background-color: var(--nickel);
    border-radius: 20px;
    box-shadow: inset 0px 0px 9px 4px rgb(0 0 0 / 58%);
    width: 280px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.about-content {
    width: 280px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.blog-card:hover{
    transform: scale(1.02);
}

.blog-img {
    width: 280px;
    height: 200px;
}

.blog-img img{
    border-radius: 20px 20px 0px 0px;
}

.about-img img{
    border-radius: 25%;
}

.blog-info {
    height: auto;
    width: 260px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-info p{
    font-size: .9em;
}

.blog-author {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.blog-author img{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 1em;
}

.blog-author p span{
    font-size: 60%;

}

.follow-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    padding-bottom: 30px;
}

.follow-socials {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 50px;
    margin-bottom: 15px;

}

.follow-socials img{
    margin-right: 20px;
    width: 50px;
}

@media(min-width: 600px){
    .blog-card {
        display: flex;
        flex-direction: row;
        width: 560px;
    }

    .blog-img img{
        border-radius: 20px 0px 0px 20px;
    }

    .nav-links {
        flex-direction: row;
        font-size: 2.5em;
        padding-right: 20px;
    }

    .nav-links li {
        padding-left: 30px;
    }

    .header-container h1{
        position: absolute;
        font-size: 3em;
        top: -1px;
}

@media(min-width: 900px){
    .nav-links {
        font-size: 3.5em;
    }

    .blog-section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(575px, 1fr));
    }

    .nav-logo img{
        height: 5.5em;
        width: auto;
    }

    .header-container h1{
        font-size: 4em;
        top: 4px;
        left: 8px;
    }
}
