/* @import url("//fonts.googleapis.com/css?family=Open+Sans");
@import url("//fonts.googleapis.com/css?family=Shadows+Into+Light"); */

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");

.nav-link{
    text-decoration: none;
    font-family: "Shadows Into Light", serif;
    text-align: center;
    color: black;
}

body{
    font-family: "Open Sans", serif;
}
